*{
	margin: -0px;
	padding: -0px;
}

body{
	background-color: floralwhite;
}

.navigate-link{
	width: fit-content;
	color: skyblue;
}
.navigate-link:hover{
	color: royalblue;
	transition: 0.3s;
}

.status{
	text-align: right;
	margin: 20px 50px;
	color: green;
	font-size: 20px;
}

.grid-container{
	padding: 20px;
	margin-top: 20px;
	display: grid;
	grid-template-columns: 50% 50%;
	background-color: white;
	justify-content: center;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.grid-item{
	margin: 10px;
}

.grid-item3, .grid-item6{
	padding-left: 15px;
}

.spanGrid{
	grid-column: 1 / span 2;
}

.grid-item1{
	text-align: center;
}

.formTitle{
	font-weight: bold;
	font-size: 20px;
	color: green;
}

label{
	font-size: 15px;
}

input[type="name"], input[type="email"], input[type="number"]{
	width: 100%;
	padding: 4px;
	border-style: dashed;
}

input[type="name"]:hover, input[type="email"]:hover, input[type="number"]:hover{
	border-color: green;
}

input[type=submit]{
	width: 100%;
	padding: 10px;
	text-transform: uppercase;
	font-weight: bold;
	border:  none;
	background-color: springgreen;
	letter-spacing: 0.8px;
}

input[type=submit]:hover{
	border:  none;
	background-color: seagreen;
	color: white;
	transition: 0.4s;
}

.grid-item8{
	text-align: right;
}

.grid-item8 .updateButton{
	width: auto;
	padding: 12px 20px;
	letter-spacing: 0.8px;
}
.grid-item8 .updateButton:hover{
	background-color: mediumseagreen;
	cursor: pointer;
	border: none;
	transition: 0.4s;
}

.grid-item8 .updateButton a{
	text-decoration: none;
	color: black;
}

